     body {
            background-color: #121212;
            color: #ffffff;
            font-family: 'Cyberpunk Is Not Dead', sans-serif;
        }

        .input-container {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .input-container label {
            color: #ffffff;
            margin-right: 10px;
            font-family: 'Cyberpunk Is Not Dead', sans-serif;
            width: 100px;
        }

        .input-container input[type="text"],
        .input-container select {
            padding: 8px;
            border-radius: 2px;
            border: 1px solid #ccc;
            font-size: 13px;
            font-family: Arial, sans-serif;
        }

        .input-container select {
            width: 100px;
        }

        button {
            background-color: #3b7b45;
            color: white;
            padding: 13px 20px;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 15px;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            font-family: 'Cyberpunk Is Not Dead', sans-serif;
            width: 100%;
            display: block;
        }

        button:hover {
            background-color: #316936;
        }

        h1 {
            color: #77d970;
            text-align: center;
        }

        .dns-table {
            border-collapse: collapse;
            width: 100%;
            font-size: 13px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
            background-color: #1c1c1c;
            font-family: Arial, sans-serif;
        }

        .dns-table th {
            background-color: #23423f;
            color: #77d970;
            padding: 10px;
            text-align: left;
        }

        .dns-table tr {
            background-color: #484747;
        }

        .dns-table td {
            padding: 10px;
            border-bottom: 1px solid #333333;
        }

        .dns-table tr:nth-child(even) {
            background-color: #1f1f1f;
        }
